* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html,
body {
  font-family: 'Rubik', sans-serif;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  padding:50px;
}

.outermost-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/**/
.whole-calculator {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

.display-screen {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 2px solid purple;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: right;
  height: 60px;
  text-align: center;
  font-size: 2rem;
  background-color: #e0e0e0;
}

.display-screen p {
  padding-right: 15px;
}

.button-layout {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.upperflex {
  display: flex;
  justify-content: space-around;
}

.container-1,
.container-2,
.container-3,
.container-4 {
  display: flex;
  flex-direction: column;
}

.container-5 {
  display: flex;
}

.container-5 button {
  flex: 1;
  padding: 20px;
  margin: 0;
  font-size: 1.5rem;
}

.button-layout button {
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  font-size: 1.5rem;
}

.numbers {
  border: 2px solid yellow;
}

.operator {
  border: 2px solid greenyellow;
}

#clear {
  border: 2px solid red;
}

#point{
  border: 2px solid yellow;
}
#equalto {
  border: 2px solid burlywood;
}

#equalto:hover {
  background-color: blueviolet;
}

#clear:hover {
  background-color: red;
}

.operator:hover {
  background-color: greenyellow;
}

#changesign {
  border: 2px solid greenyellow;
}
#changesign:hover {
  background-color: greenyellow;
}
.numbers:hover {
  background-color: pink;
}
.footer{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:10px;
  margin-top:100px;
  display:flex;
  flex-direction: column;
}
.footer a{
  text-decoration: none;
  margin:20px;
}
